.ddsmoothmenu{
font:5px;
background: #999; /*background of menu bar (default state)*/
width: 100%;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: center;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
background: #ccc; /*background of menu items (default state)*/
color: white;
padding: 8px 10px;
color: white;
text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: black;
border:10px red;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: black; 
color: blue;
}

.ddsmoothmenu ul li a:hover{
background: #999; /*background of menu items during onmouseover (hover state)*/
color: black;
font-weight:bold;
}	
	
.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}